@import url(default.css);
.header{
    position: relative;
    height:138px;
    z-index:100;
}
span{
    color: #1E90FF;
}
  
  /* 헤더 */
  header {
    background-color: #1E90FF; /* 푸른색 헤더 */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
   width: 150px;
   margin-left: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #FFAE21;
  }

    h2 {
        text-align: center;
        font-size: 42px;
        margin: 40px 0;
    }

/* 캐릭터 얼굴 이미지 일렬 배치 */
.character-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
  
  .character-face {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  /* 캐릭터 정보 섹션 */
#character-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 70px;
    margin: 50px 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  #character-info h2 {
    font-size: 30px;
    text-align: left;
  }

  #character-info img.logo_color{
    width: 500px;
    object-fit: contain;
    padding: 30px 0px 70px 0px;
  }
  
  .character-info-left img {
    width: 400px; /* 3:5 비율의 이미지 */
    height: 700px;
    object-fit: contain;
    margin-right: 70px;
  }
  
  .character-info-right {
    transition: transform 0.3s ease;
  }
  
  .character-info-right h2 {
    width: 700px;
    margin-bottom: 10px;
  }
  
  .character-info-right p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .character-info-right img {
    width: 700px; /* 5:3 비율의 이미지 */
    height: 300px;
    object-fit: contain;
  }


/* 푸터 */
  footer {
    background-color: #1E90FF;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .social-links {
    margin: 10px;
  }
  